 *{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 header{
     margin-left:500px;
 }
 .main-content{
    margin: 100px 100px 100px 100px;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows:250px 250px 250px 250px;
    column-gap: 20px;
    row-gap: 100px;
 }
 img{
    height: 200px;
    width: 200px;
    padding-left: 20px;
    padding-top: 20px;
 }
 .caption{
    padding-left: 80px;
    
 }
 .image{
    border: 2px solid black;
    border-radius: 20px;
    color: transparent;
 }
 .image:hover{
    color: red;
    transform: scale(1.1);
 }
